.col-sm-4.col-md-3.proto-content
  - if proto.user_id == current_user.id
    = link_to "edit",edit_prototype_path(proto)
  .thumbnail
    = link_to image_tag(proto.images.main.first.photo), prototype_path(proto)
    .caption
      %h3= proto.title
      .proto-meta
        .proto-user
          = proto.user.email
        .proto-posted
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
